/* General SignUp Panel Styles */

.signUpPanel {
    background: var(--panel-bg);
    backdrop-filter: blur(25px);
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    top: 38dvh;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem .5rem 2.5rem .5rem;
    padding-bottom: max(2.5rem, env(safe-area-inset-bottom, 0));
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.arrowButtonContainer {
    display: flex;
    justify-content: flex-start;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.heading {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8125rem; /* 90.625% */
    letter-spacing: -0.0625rem;
    margin: 0;  
    margin-bottom: 1rem;
}

/* Student SignUp Styles */
.nameContainer {
    display: flex;
    gap: 1rem;
}

.passwordGroup, .aboutGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.passwordGroup > div, .aboutGroup > div {
    margin-bottom: 0;
}
