.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
    min-height: 15.5625rem;
    border-radius: 1rem;
    background: var(--panel-bg);
    gap: .5rem;
}

.topHalfContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nameHeartContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.likeButton {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 0;
    flex-shrink: 0;
}

.likeIcon {
    width: 1.375rem;
    height: 1.375rem;
}

.companyName {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03rem;
    margin: 0;
    text-align: left;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.infoHeading {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 116.061%;
    letter-spacing: -0.02625rem;
    text-transform: uppercase;
    color: #D5D5D5;
    margin: 0;
}

.infoContent {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02625rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}