/* ---------------------------------------- */
/* Typography */
/* ---------------------------------------- */

.textXXL {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  line-height: 2rem; /* 50% */
  letter-spacing: -0.0625rem;
}

.textExtraLarge {
  color: white;
  letter-spacing: -0.0625rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.textLarge {
  color: white;
  letter-spacing: -0.0625rem;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2rem;
}

.textLargeBold {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.0625rem;
}

.textMedium {
  color: white;
  letter-spacing: -0.0625rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.textMediumRegular {
  color: white;
  letter-spacing: -0.0625rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.textMediumBold {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 102%; /* 1.53rem */
  letter-spacing: -0.06rem;
}

.textSmall {
  color: white;
  letter-spacing: -0.0625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (min-width: 64rem) {
  .textXXL {
    font-size: 8rem;
    font-weight: 700;
    line-height: 150%; /* 12rem */
    letter-spacing: -0.32rem;
  }

  .textExtraLarge {
    font-size: 6rem;
    font-weight: 700;
    line-height: 5.4375rem;
    letter-spacing: -0.125rem;
  }

  .textLarge {
    font-size: 6rem;
    font-weight: 400;
    line-height: 5.4375rem;
    letter-spacing: -0.125rem;
  }

  .textMedium {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: -0.0625rem;
  }

  .textMediumBold {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin: 0;
    letter-spacing: -0.0625rem;
  }

  .textMediumRegular {
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 4.5rem */
    letter-spacing: -0.12rem;
  }

  .textMediumSmall {
    color: white;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 97%; /* 2.1825rem */
    letter-spacing: -0.09rem;
  }

  .textSmall {
    font-size: 2rem;
    font-weight: 400;
    line-height: 97%;
    letter-spacing: -0.08rem;
  }
}

/* ---------------------------------------- */
/* General */
/* ---------------------------------------- */

.main {
  background: #000;
  background-image: url("./../src/assets/mingle_bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  box-sizing: border-box;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

/* container filter  */
.backgroundBlurFilter {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.backgroundDarkFilter {
  background: rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  inset: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* yrgo image logo */
.yrgoLogo {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6.56rem;
  height: 2.56rem;
  z-index: 10;
}

/* text bubble */
.textBubble {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  background: #fff;
  color: #000;
  text-align: center;
  word-break: break-word;
}

@media (min-width: 64rem) {
  .yrgoLogo {
    position: fixed;
    top: 1rem;
    left: 0.05rem;
    transform: none;
    width: 11rem;
    height: 4.3rem;
    z-index: 10;
  }

  .soundButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transform: none;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.5rem;
    z-index: 10;
  }
}

/* ---------------------------------------- */
/* Lobby */
/* ---------------------------------------- */

.lobbyText {
  text-wrap: balance;
  text-align: center;
}

.qrCodeIcon {
  width: 9rem;
  height: 9rem;
  border-radius: 2%;
  padding: 1rem;
}

@media (min-width: 64rem) {
  .main {
    gap: 0;
  }
  .mainGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
  }

  .textContainerDesktop {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 2.5rem;
  }

  .timerContainerDesktop {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
  }
}

/* ---------------------------------------- */
/* Start */
/* ---------------------------------------- */

.startText {
  width: 60%;
  text-wrap: balance;
  text-align: center;
}

/* ---------------------------------------- */
/* Introduction */
/* ---------------------------------------- */

.IntroductionTitleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.introductionHeader {
  margin: 0;
}

/* ---------------------------------------- */
/* Questions */
/* ---------------------------------------- */

.mobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem;
  width: 100%;
}

.mobileContainer h3 {
  margin: 0;
}

.questionDisplay {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

/* ---------------------------------------- */
/* Task */
/* ---------------------------------------- */

@media (min-width: 64rem) {
  .taskContainer {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0;
  }

  .task {
    flex: 1;
  }
}

/* ---------------------------------------- */
/* Loading */
/* ---------------------------------------- */

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

/* ---------------------------------------- */
/* Completion */
/* ---------------------------------------- */

.completionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  text-wrap: balance;
  text-align: center;
}

@media (min-width: 64rem) {
  .completionTextContainer {
    display: flex;
    padding: 0 var(--Size-24, 1.5rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    flex-shrink: 0;
  }

  .completionTextContainer p {
    width: 35rem;
  }
}
/* ---------------------------------------- */
/* Timer */
/* ---------------------------------------- */

.timer {
  width: 26.25rem;
  font-size: 6.25rem;
  align-self: center;
}

@media (min-width: 64rem) {
  .timer {
    font-size: 13rem;
    font-weight: 400;
    line-height: 150%;
    flex: 0 0 auto;
  }
}
