@import "./MingleGameFonts.module.css";

/* ---------------------------------------- */
/* General */
/* ---------------------------------------- */

.main {
  background-image: url("../src/assets/mingle_bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  box-sizing: border-box;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

/* container filter  */
.backgroundBlurFilter {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.backgroundDarkFilter {
  background: rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  inset: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* yrgo image logo */
.yrgoLogo {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6.56rem;
  height: 2.56rem;
  z-index: 10;
}

/* game rounds counter */
.roundCountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 100vw;
}

.roundCountContainer span {
  letter-spacing: -0.03rem;
}

/* text bubble */
.textBubble {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  background: #fff;
  color: #000;
  text-align: center;
  word-break: break-word;
}

@media (min-width: 64rem) {
  .yrgoLogo {
    position: fixed;
    top: 1rem;
    left: 0.05rem;
    transform: none;
    width: 11rem;
    height: 4.3rem;
    z-index: 10;
  }

  .soundButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transform: none;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.5rem;
    z-index: 10;
  }
}

/* ---------------------------------------- */
/* Lobby */
/* ---------------------------------------- */

.lobbyText {
  text-wrap: balance;
  text-align: center;
}

@media (min-width: 64rem) {
  .mainGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
  }

  .textContainerDesktop {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 2.5rem;
  }

  .timerContainerDesktop {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
  }
}

/* ---------------------------------------- */
/* Start */
/* ---------------------------------------- */

.startText {
  width: 60%;
  text-wrap: balance;
  text-align: center;
}

/* ---------------------------------------- */
/* Introduction */
/* ---------------------------------------- */

.IntroductionTitleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.introductionHeader {
  margin: 0;
}

.introductionInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

/* ---------------------------------------- */
/* Questions */
/* ---------------------------------------- */

.questionContainer,
.mobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem;
  width: 100%;
}

.questionContainer h3,
.mobileContainer h3 {
  margin: 0;
}

.questionDisplay {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

/* ---------------------------------------- */
/* Task */
/* ---------------------------------------- */

@media (min-width: 64rem) {
  .taskContainer {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0;
  }

  .task {
    flex: 1;
  }

  .timer {
    flex: 0 0 auto;
  }
}
/* ---------------------------------------- */
/* Completion */
/* ---------------------------------------- */

.completionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  text-wrap: balance;
  text-align: center;
}

/* ---------------------------------------- */
/* Timer */
/* ---------------------------------------- */

.timer {
  width: 26.25rem;
  font-size: 6.25rem;
  align-self: center;
}

@media (min-width: 64rem) {
  .timer {
    font-size: 8rem;
    font-weight: 400;
    line-height: 150%;
  }
}
