# Use a port other than 5000 to avoid conflicts with the React development server, which also defaults to 3000. Adjust as needed.
PORT=5001
MONGODB_URI=mongodb_uri
JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret