.checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116.061%; /* 0.87044rem */
  letter-spacing: -0.0225rem;
  text-transform: uppercase;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
} 

.checkbox label {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  color: white;
  cursor: pointer;
  background: rgba(138, 157, 198, 0.30);
  border: 1px solid rgba(138, 157, 198, 0.00);
}

.checkbox input:checked + label {
  background: rgba(138, 157, 198, 0.5);
  border: 1px solid white;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.legend {
  text-align: left;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.03rem;
  line-height: normal;
  margin: 0;
}

.legendSubtext {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.subText {
  text-align: left;
  margin: 0;
  align-self: flex-start;
  font-size: 0.9375rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02813rem;
}

.optional {
  font-size: 1rem;
  color: #D5D5D5;
  font-style: italic;
  font-weight: 400;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}