
.signUpInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: var(--panel-bg);
    backdrop-filter: blur(25px);
    border-radius: 1rem 1rem 0 0;
    position: absolute; /* absolute positioning for now, to be able to place it on top of the hero image, but this might change when we implement the actual layout of the landing page */
    bottom: 0;
    left: 0;
    right: 0;
}

.topHalfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0rem .1rem 2.5rem .1rem;
}

.headingInfoContainer {
  display: flex;
  width: 16.73906rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.attendeesContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.attendeesStudents, .attendeesCompanies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-size: .8125rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.loginGroup {
    display: flex;
    align-items: center;
    gap: .5rem;
}