.navWrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(25px);
    transition: background 0.2s;
}

.navWrapperOpen {
    background: rgba(0, 0, 0, 0.30);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 3.5rem 10px 10px 10px;
    /* padding-top: calc(env(--safe-area-inset-top)); */ /* this is for the iOS notch, but it seems to cause some issues with the layout, so I'm commenting it out for now */
}

.logo img,
.hamburger img {
    display: block;
}

.hamburger {
    cursor: pointer;
    background: none;
    border: none;
}

.menu {
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu li {
    margin: 0 .25rem;
    padding: 0;
}

.menu a {
    display: inline-block;
    padding: 8px 12px;
    color: #FFF;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 20px;
}

.regExpButtonWrapper button {
    margin-bottom: 0rem;
}

.regExpButtonWrapper {
    margin: 1rem 0 .5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studentLoginButton {
    margin-top: 1rem;
}