.tag {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    background: var(--color-tag-default);
    color: var(--text-h);
    text-transform: uppercase;
}